@inherits BandEditorCode;
@if (showBandPanel == true)
{
    <div style="background-color:lightgray;">
        <div style="padding:1vw;">
            <EditForm Model="@Band" OnValidSubmit="@SubmitButtonPressed">
                <DataAnnotationsValidator />
                <ValidationSummary />

                Name:
                <InstantInputText @bind-Value="@Band.Name"
                                  id="band.name"
                                  type="text" style="width:100%;" />
                <br /><br />
                Description:
                <textarea id="BioControl" @bind="@Band.Description"
                          rows="4"
                          style="width: 100%;
                                 overflow: hidden; overflow-wrap:
                                 break-word; overflow-y: scroll; " />
                <br />
                <ObjectPicker ItemType="Musician"
                              ItemTypePlural="Musicians"
                              TextPropertyName="Name"
                              ValuePropertyName="MusicianId"
                              AllItems="@AllMusicians"
                              SelectedItems="@SelectedMusicians">
                </ObjectPicker>

                <br /><br />
                <button type="submit">@submitButtonText</button>
                <span>&nbsp;</span>
                <button type="button" @onclick="CancelButtonPressed">Cancel</button>
            </EditForm>
        </div>
    </div>
}
