@using Microsoft.AspNetCore.Components;
@using BandBookerData.Models;
@inherits BookingEditorCode

@if (showBookingPanel == true)
{
    <div style="background-color:lightgray;">
        <div style="padding:1vw;">
            <EditForm Model="@Booking" OnValidSubmit="@SubmitButtonPressed">
                <DataAnnotationsValidator />
                <ValidationSummary />
                Name:
                <InstantInputText @bind-Value="@Booking.Name"
                                  id="booking.name"
                                  type="text" style="width:100%;" />
                <br /><br />
                Band:
                <br />
                <select @onchange="BandSelected" style="width:100%;">
                    @foreach (var band in AllBands)
                    {
                        @if (band.BandId == Booking.BandId)
                        {
                            <option selected
                                    value="@band.BandId.ToString()">
                                @band.Name
                            </option>
                        }
                        else
                        {
                            <option value="@band.BandId.ToString()">
                                @band.Name
                            </option>
                        }
                    }
                </select>
                <br /><br />
                Venue:
                <br />
                <select @onchange="VenueSelected" style="width:100%;">
                    @foreach (var venue in AllVenues)
                    {
                        @if (venue.VenueId == Booking.VenueId)
                        {
                            <option selected
                                    value="@venue.VenueId.ToString()">
                                @venue.Name
                            </option>
                        }
                        else
                        {
                            <option value="@venue.VenueId.ToString()">
                                @venue.Name
                            </option>
                        }
                    }
                </select>
                <br /><br />
                Date/Time:
                <input @bind-value="@Booking.DateAndTime" type="date" />
                &nbsp;
                <input @bind-value="@Booking.DateAndTime" type="text" />
                <br /><br />
                Pay Offering:
                <input @bind-value="@Booking.PayOffering"
                       type="text" style="width:100%;" />
                <br /><br />
                @if (Booking.Booked && Booking.DateBooked != null)
                {
                    <span>Date Booked:</span>
                    <input @bind-value="@Booking.DateBooked"
                           type="text" style="width:100%;" />
                    <br /><br />
                }
                Musicians Who Have Accepted:
                <select size="10" style="width:100%;">
                    @foreach (var bmi in Booking.BookingMusicianInstrument)
                    {
                        @if (bmi.Response == true)
                        {
                            <option>
                                @bmi.Musician.Name&nbsp;on&nbsp;@bmi.Instrument.Name
                            </option>
                        }
                    }
                </select>
                <br /><br />
                Musicians Who Have Declined:
                <select size="10" style="width:100%;">
                    @foreach (var bmi in Booking.BookingMusicianInstrument)
                    {
                        @if (bmi.Response == false && bmi.ResponseDate != null)
                        {
                            <option>
                                @bmi.Musician.Name&nbsp;(@bmi.ResponseReason)
                            </option>
                        }
                    }
                </select>
                <br /><br />
                <ObjectPicker ItemType="Instrument"
                              ItemTypePlural="Instruments"
                              TextPropertyName="Name"
                              ValuePropertyName="InstrumentId"
                              AllItems="@BandInstruments"
                              SelectedItems="@SelectedInstruments">
                </ObjectPicker>

                <br /><br />
                <button type="submit">@submitButtonText</button>
                <span>&nbsp;</span>
                @if (!Booking.Booked)
                {
                    if (!adding)
                    {
                        <button type="button"
                                @onclick="InviteMusicians">
                            Invite Musicians
                        </button>
                        <span>&nbsp;</span>
                        <button type="button" @onclick="BookBand">Book it!</button>
                        <span>&nbsp;</span>
                    }
                }

                <button type="button"
                        @onclick="CancelButtonPressed">
                    Cancel
                </button>
            </EditForm>
        </div>
    </div>
}
