@page "/"
@inherits IndexCode
@using Microsoft.Extensions.Configuration;
@using BandBookerData;
@using BandBookerData.Models;

<h1>Band Booker</h1>
@if (!isAllowedToView)
{
    @if (loggedIn)
    {
        if (isMusician)
        {
            <span>Select the Musician Button from the menu.</span>
        }
        else
        {
            <span>You have not yet been authorized. Please send your administrator a message.</span>
        }
    }
    else
    {
        <span>
            Please <a href="Identity/Account/Register">Register</a>
            &nbsp;or&nbsp;
            <a href="Identity/Account/Login">Log in</a>
        </span>
    }
}
else
{
    <h2>Instruments</h2>
    <select size="10" style="width:100%;"
            disabled="@disableInstrumentList"
            @onchange="OnInstrumentSelected">
        @foreach (var instrument in allInstruments)
        {
            @if (instrument.InstrumentId == selectedInstrument?.InstrumentId)
            {
                <option selected="selected" value="@instrument.InstrumentId">
                    @instrument.Name
                </option>
            }
            else
            {
                <option value="@instrument.InstrumentId">
                    @instrument.Name
                </option>
            }
        }

    </select>
    <br />
    <button disabled="@disableInstrumentList" @onclick="NewInstrumentClicked">New</button>
    <button disabled="@disableEditInstrument" @onclick="EditInstrumentClicked">Edit</button>
    <button disabled="@disableEditInstrument" @onclick="DeleteInstrumentClicked">Delete</button>
    <br />
    <span style="color:red">@instrumentErrorMessage</span>

    <InstrumentEditor @ref="instrumentEditor" Instrument="selectedInstrument" AddInstrumentClicked="InstrumentEditor_AddInstrumentClicked"
                      UpdateInstrumentClicked="InstrumentEditor_UpdateInstrumentClicked" CancelClicked="InstrumentEditor_CancelClicked" />

    <h2>Musicians</h2>
    <select @onchange="MusicianSelected" size="10" style="width:100%;" disabled="@disableMusicianControls">
        @foreach (var musician in DataManager.Musicians)
        {
            if (selectedMusician != null
             && musician.MusicianId == selectedMusician.MusicianId)
            {
                <option selected value="@musician.MusicianId.ToString()">@musician.Name</option>
            }
            else
            {
                <option value="@musician.MusicianId.ToString()">@musician.Name</option>
            }
        }
    </select>
    <br />

    <button disabled="@disableMusicianControls"
                @onclick="NewMusicianButtonClick">
        New
    </button>
    <span>&nbsp;</span>

    <button disabled="@disableMusicianEditButton"
                @onclick="EditMusicianButtonClick">
        Edit
    </button>
    <span>&nbsp;</span>

    <button disabled="@disableMusicianEditButton"
                @onclick="DeleteMusicianButtonClick">
        Delete
    </button>
    <br />

    <span style="color:red;">@musicianErrorMessage</span>
    <MusicianEditor @ref="musicianEditor" CancelPressed="EditMusicianCancelled" MusicianAdded="MusicianAdded" MusicianUpdated="MusicianUpdated" BioUpdated="MusicianBioUpdated">
    </MusicianEditor>
    <br />
    <br />

    <h2>Bands</h2>
    <select @onchange="BandSelected" size="10" style="width:100%;" disabled="@disableBandControls">
        @foreach (var band in DataManager.Bands)
        {
            if (selectedBand != null
                && selectedBand.BandId == band.BandId)
            {
                <option selected value="@band.BandId.ToString()">@band.Name</option>
            }
            else
            {
                <option value="@band.BandId.ToString()">@band.Name</option>
            }
        }
    </select>
    <br />
    <button disabled="@disableBandControls" @onclick="NewBandButtonClick">New</button>
    <span>&nbsp;</span>
    <button disabled="@disableBandEditButton" @onclick="EditBandButtonClick">Edit</button>
    <span>&nbsp;</span>
    <button disabled="@disableBandEditButton" @onclick="DeleteBandButtonClick">Delete</button>
    <br />
    <span style="color:red;">@bandErrorMessage</span>
    <BandEditor @ref="bandEditor"
                CancelPressed="EditBandCancelled"
                BandAdded="BandAdded"
                BandUpdated="BandUpdated">
    </BandEditor>

    <br />
    <br />
    <h2>Venues</h2>
    <select @onchange="VenueSelected" size="10" style="width:100%;" disabled="@disableVenueControls">
        @foreach (var Venue in DataManager.Venues)
        {
            if (selectedVenue != null
                && selectedVenue.VenueId == Venue.VenueId)
            {
                <option selected value="@Venue.VenueId.ToString()">@Venue.Name</option>
            }
            else
            {
                <option value="@Venue.VenueId.ToString()">@Venue.Name</option>
            }
        }
    </select>
    <br />
    <button disabled="@disableVenueControls" @onclick="NewVenueButtonClick">New</button>
    <span>&nbsp;</span>
    <button disabled="@disableVenueEditButton" @onclick="EditVenueButtonClick">Edit</button>
    <span>&nbsp;</span>
    <button disabled="@disableVenueEditButton" @onclick="DeleteVenueButtonClick">Delete</button>
    <br />
    <span style="color:red;">@venueErrorMessage</span>
    <VenueEditor @ref="venueEditor"
                 CancelPressed="EditVenueCancelled"
                 VenueAdded="VenueAdded"
                 VenueUpdated="VenueUpdated">
    </VenueEditor>
    <br />
    <br />

    <h2>Bookings</h2>
    <select @onchange="BookingSelected" size="10" style="width:100%;" disabled="@disableBookingControls">
        @foreach (var Booking in DataManager.Bookings)
        {
            if (selectedBooking != null
                && selectedBooking.BookingId == Booking.BookingId)
            {
                <option selected value="@Booking.BookingId.ToString()">@Booking.Name</option>
            }
            else
            {
                <option value="@Booking.BookingId.ToString()">@Booking.Name</option>
            }

        }
    </select>
    <br />
    <button disabled="@disableBookingControls" @onclick="NewBookingButtonClick">New</button>
    <span>&nbsp;</span>
    <button disabled="@disableBookingEditButton" @onclick="EditBookingButtonClick">Edit</button>
    <span>&nbsp;</span>
    <button disabled="@disableBookingEditButton" @onclick="DeleteBookingButtonClick">Delete</button>
    <br />
    <span style="color:red;">@bookingErrorMessage</span>
    <BookingEditor @ref="bookingEditor"
                   CancelPressed="EditBookingCancelled"
                   BookingAdded="BookingAdded"
                   BookingUpdated="BookingUpdated"
                   ContactMusicians="ContactMusicians"
                   BandWasBooked="BandWasBooked">
    </BookingEditor>
    <br />
    <br />

}
