@page "/"
@using BandBookerData;
@using BandBookerData.Models;
@using Microsoft.AspNetCore.Components;

<h2>Instruments</h2>
<select size="10" style="width:100%;"
        disabled="@disableInstrumentList"
        @onchange="OnInstrumentSelected">
    @foreach (var instrument in allInstruments)
    {
        @if (instrument.InstrumentId == selectedInstrument?.InstrumentId)
        {
            <option selected="selected" value="@instrument.InstrumentId">
                @instrument.Name
            </option>
        }
        else
        {
            <option value="@instrument.InstrumentId">
                @instrument.Name
            </option>
        }
    }

</select>
<br />

@code {
    private bool disableInstrumentList = false;
    private Instrument selectedInstrument;
    private List<Instrument> allInstruments = new List<Instrument>();

    protected override void OnInitialized()
    {
        allInstruments = DataManager.Instruments;
    }

    private void OnInstrumentSelected(ChangeEventArgs changeEventArgs)
    {
        if(int.TryParse(changeEventArgs.Value?.ToString(), out int instrumentId))
        {
            selectedInstrument = allInstruments.Where(inst => inst.InstrumentId == instrumentId).FirstOrDefault();
            string instrumentName = selectedInstrument?.Name;
        }
    }
}