@page "/musicianpage"
@inherits MusicianPageCode
@using BandBookerData;
@using BandBookerData.Models;
@using Microsoft.AspNetCore.Components;
@using System.Security.Claims;

@if (!isAllowedToView)
{
    <span>Ask your administrator for access</span>
}
else
{

    @if (musician != null)
    {
        <h2>@musician.Name</h2>
        <p>
            <button @onclick="EditProfile">Edit Profile</button>
            <br />
            <MusicianEditor @ref="musicianEditor"
                            CancelPressed="CancelPressed"
                            MusicianUpdated="MusicianUpdated">
            </MusicianEditor>

            Bookings requiring your response:
            <select @onchange="NewBookingSelected"
                    @onclick="SelectedNewBookingClicked"
                    size="10" style="width:100%;">

                @foreach (var booking in newBookings)
                {
                    <option value="@booking.BookingId">
                        @booking.Name
                    </option>
                }
            </select>
            <BookingDetails @ref="newBookingDetails"
                            Booking="bookingToConfirm"
                            ShowResponseButtons="true"
                            MusicianYesResponse="MusicianRespondedYes"
                            MusicianNoResponse="MusicianRespondedNo">
            </BookingDetails>
            <BookingResponse @ref="newBookingResponse"
                             MusiciansInstruments="myInstrumentsForSelectedBooking"
                             MusicianAcceptedBooking="MusicianAcceptedBooking"
                             MusicianRejectedBooking="MusicianRejectedBooking"
                             ResponseCancelled="BookingResponseCancelled">
            </BookingResponse>


            Booked Bookings:
            <select @onchange="BookedBookingSelected"
                    @onclick="SelectedBookedBookingClicked"
                    size="10" style="width:100%;">

                @foreach (var booking in bookedBookings)
                {
                    <option value="@booking.BookingId">
                        @booking.Name
                    </option>
                }
            </select>
            <BookingDetails @ref="bookedBookingDetails"
                            Booking="bookingToConfirm"
                            ShowResponseButtons="true"
                            MusicianYesResponse="MusicianRespondedYes"
                            MusicianNoResponse="MusicianRespondedNo">
            </BookingDetails>
            <BookingResponse @ref="bookedBookingResponse"
                             MusiciansInstruments="myInstrumentsForSelectedBooking"
                             MusicianAcceptedBooking="MusicianAcceptedBooking"
                             MusicianRejectedBooking="MusicianRejectedBooking"
                             ResponseCancelled="BookingResponseCancelled">
            </BookingResponse>

            All Bookings:
            <select @onchange="AnyBookingSelected"
                    @onclick="SelectedAnyBookingClicked"
                    size="10" style="width:100%;">

                @foreach (var booking in allBookings)
                {
                    <option value="@booking.BookingId">
                        @booking.Name
                    </option>
                }
            </select>
            <BookingDetails @ref="anyBookingDetails"
                            Booking="bookingToConfirm"
                            ShowResponseButtons="true"
                            MusicianYesResponse="MusicianRespondedYes"
                            MusicianNoResponse="MusicianRespondedNo">
            </BookingDetails>
            <BookingResponse @ref="anyBookingResponse"
                             MusiciansInstruments="myInstrumentsForSelectedBooking"
                             MusicianAcceptedBooking="MusicianAcceptedBooking"
                             MusicianRejectedBooking="MusicianRejectedBooking"
                             ResponseCancelled="BookingResponseCancelled">
            </BookingResponse>
        </p>
    }
}