@using Microsoft.AspNetCore.Components.Web
@using Data
@using BandBookerData.Models
@using System.IO;
@using Blazor.FileReader;
@inherits MusicianEditorCode

@if (@Musician != null && showMusicianPanel == true)
{
    <div style="background-color:lightgray;">
        <div style="padding:1vw;">
            <EditForm Model="@Musician" OnValidSubmit="@SubmitButtonPressed">
                <DataAnnotationsValidator />
                <ValidationSummary />
                Name:
                <InstantInputText @bind-Value="@Musician.Name"
                                                   id="musician.name"
                                                   type="text" style="width:100%;" />
                <br /><br />
                Email:
                <InstantInputText @bind-Value="@Musician.Email"
                                                   type="text" style="width:100%;" />
                <br /><br />
                Mobile Phone:
                <InstantInputText @bind-Value="@Musician.MobilePhone"
                                                   type="text" style="width:100%;" />
                <br /><br />
                Bio:
                <textarea id="BioControl" @bind="@Musician.Bio" bind:event="oninput" @oninput="SyncMusicianBio" rows="4"
                          style="width:100%;overflow:hidden;overflow-wrap:break-word;overflow-y:scroll;" />
                <br />
                <ObjectPicker ItemType="Instrument"
                              ItemTypePlural="Instruments"
                              TextPropertyName="@nameof(Instrument.Name)"
                              ValuePropertyName="@nameof(Instrument.InstrumentId)"
                              AllItems="@AllInstruments"
                              SelectedItems="@SelectedInstruments">
                </ObjectPicker>
                <br />
                Photo:
                <br />
                <input type="file" @ref=inputTypeFileElement />
                <button type="button" @onclick=ReadFile>Upload</button>
                <br />
                @if (@Musician.PhotoUrl != "")
                {
                    <img src="@Musician.PhotoUrl" />
                }
                <br /><br />
                <button type="submit">@submitButtonText</button>
                <span>&nbsp;</span>
                <button type="button" @onclick="CancelButtonPressed">Cancel</button>
            </EditForm>

        </div>
    </div>
}
