@using Microsoft.AspNetCore.Components.Web
@using Data
@using BandBookerData.Models
@using System.IO;
@using Blazor.FileReader;

@inherits VenueEditorCode;

@if (@Venue != null && showVenuePanel == true)
{
    <div style="background-color:lightgray;">
        <div style="padding:1vw;">
            <EditForm Model="@Venue" OnValidSubmit="@SubmitButtonPressed">
                <DataAnnotationsValidator />
                <ValidationSummary />

                Name:
                <InstantInputText @bind-Value="@Venue.Name"
                                  id="venue.name"
                                  type="text" style="width:100%;" />
                <br /><br />
                Description:
                <textarea id="BioControl" @bind="@Venue.Description"
                          rows="4"
                          style="width: 100%; overflow: hidden;
                        overflow-wrap: break-word; overflow-y: scroll; " />
                <br /><br />
                Contact Name:
                <InstantInputText @bind-Value="@Venue.ContactName"
                                  type="text" style="width:100%;" />
                <br /><br />
                Contact Email:
                <InstantInputText @bind-Value="@Venue.ContactEmail"
                                  type="text" style="width:100%;" />
                <br /><br />
                Contact Mobile Phone:
                <InstantInputText @bind-Value="@Venue.ContactMobilePhone"
                                  type="text" style="width:100%;" />
                <br /><br />
                Address:
                <InstantInputText @bind-Value="@Venue.Address"
                                  type="text" style="width:100%;" />
                <br /><br />
                Address Line 2:
                <InstantInputText @bind-Value="@Venue.Address2"
                                  type="text" style="width:100%;" />
                <br /><br />
                City, State, Zip:
                <br />
                <InstantInputText @bind-Value="@Venue.City"
                                  type="text" style="width:60%;" />
                &nbsp;
                <InstantInputText @bind-Value="@Venue.State"
                                  type="text" style="width:20%;" />
                &nbsp;
                <InstantInputText @bind-Value="@Venue.Zip"
                                  type="text" style="width:10%;" />
                <br /><br />
                Phone:
                <InstantInputText @bind-Value="@Venue.Phone"
                                  type="text" style="width:100%;" />
                <br /><br />
                Website:
                <InstantInputText @bind-Value="@Venue.Website"
                                  type="text" style="width:100%;" />
                <br /><br />
                Photo:
                <br />
                <input type="file" @ref=inputTypeFileElement />
                <button type="button" @onclick=ReadFile>Upload</button>
                <br />
                @if (@Venue.PhotoUrl != "")
                {
                    <img src="@Venue.PhotoUrl" />
                }
                <br /><br />
                <button type="submit">@submitButtonText</button>
                <span>&nbsp;</span>
                <button type="button" @onclick="CancelButtonPressed">Cancel</button>
            </EditForm>
        </div>
    </div>
}
